.venv
.env
node_modules
__pycache__
.claude
data
demo
log
.trae
*.log
debug-console-at-*.log
data/pdf_files.json
AItemp/*
AITask/*
AItemp/AI_DIALOG_COUNT.json
logs
test
tests
test_files
data/pdf_files.json
AIforum/*
AI-communication/
dist
test_pdf_files/*
debug_data/*
.trae/*
.pytest_cache/*
AItemp
AITask
AIforum